<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Welcome to Oversea matrimony</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" ></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0" ></meta>
<link href='http://fonts.googleapis.com/css?family=Roboto'
	rel='stylesheet' type='text/css' ></link>
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css}"></link>
<style>
body {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
}
</style>
</head>
<body>

	<div class="container  main text-center"
		style="margin: 30px 30px 30px 30px;background: linear-gradient(#33ffd6, #ffffff); color: #4d0099;height: 250px; text-align:center;"  >
		<div class="header text-center" style="margin-bottom: 0">
			<h1>OverSea Tamil matrimony</h1>
				<!-- <img src="cid:logo.png" alt="http://memorynotfound.com" style="display: block;" ></img> -->
		</div>
		<div class="col-lg-8 ">
			<div class="fakeimg">
				
			<h2 th:text="${'Dear ' + name}"></h2>
			<p th:text="${contentmessage}"></p>
			<a th:href="${resetUrl}" class="btn btn-default btn-arrow-right"> 
			<button type="button" th:text="${buttonMessage}"  ></button></a>
			<p>Thanks</p>
			</div>
		</div>

		<div class="footer text-center" style="margin-bottom: 0;height: 20px;">
			<p>Footer</p>
		</div>

	</div>
</body>
</html>